body {
  background-image: url("../sea.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: #333;
}

.board {
  display: inline-block;
  background: white;
  padding: 15px;
  border-radius: 15px;
}

.cell {
  cursor: pointer;
  float: left;
  width: 46px;
  height: 46px;
  margin: 4px;
  border-radius: 6px;
  background-color: cornflowerblue;
  border: 2px solid midnightblue;
  font-size: 28px;
}

.cell:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.cell:active {
  transform: scale(0.95);
}
